<?xml version="1.0" encoding="windows-1254"?>
<configuration>
  <configSections>
    
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  
  <connectionStrings>
    <add name="DBCOREPR" connectionString="Data Source=(DESCRIPTION =     (ADDRESS_LIST =       (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))     )     (CONNECT_DATA =       (SERVICE_NAME = DBCOREPR)     )   );User Id=testotomasyon;Password=Rfs434ft;" providerName="Oracle.DataAccess.Client" />
  
    
    <!--#########-->
    <add name="{DBLOANPR}" connectionString="Data Source=(DESCRIPTION =     (ADDRESS_LIST =       (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))     )     (CONNECT_DATA =       (SERVICE_NAME = DBLOANPR)     )   );User Id=testotomasyon;Password=Rfs434ft;" providerName="Oracle.DataAccess.Client" />
    
    
    <!--#########-->
    <add name="{DBTKART}" connectionString="Data Source=(DESCRIPTION =     (ADDRESS_LIST =       (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))     )     (CONNECT_DATA =       (SERVICE_NAME = DBTKART)     )   );User Id=testotomasyon;Password=Rfs434ft;" providerName="Oracle.DataAccess.Client" />
    
    
    <!--#########-->
    <add name="{KRDKART}" connectionString="Data Source=(DESCRIPTION =     (ADDRESS_LIST =       (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))     )     (CONNECT_DATA =       (SERVICE_NAME = KRDKART)     )   );User Id=testotomasyon;Password=Rfs434ft;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  
</configuration>